/*WEB.END*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    min-height: 100vh;
}

a {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .button {
    position: relative;
    margin: 0 auto;
    padding: 16px 40px;
    background: transparent;
    color: #111;
    font-size: 28px;
    letter-spacing: 0.25em;
    outline: none;
  }

  .button::after, .button::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    transform: skewX(30deg);
    z-index: -2;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .button::before {
    background-color: #00ccff;
    top: -16px;
    left: 0px;
  }

  .button::after {
    background-color: #fff;
    top: 16px;
    left: 128px;
  }

  .button:hover::before, .button:hover::after {
    top: 0;
    transform: skewx(0deg);
  }

  .button:hover::after {
    left: 0rem;
  }

  .button:hover::before {
    left: 138px;
  }